In [1]:
import pandas as pd

In [2]:
for i in range(1,25):
    z = str(i)
    file_name = 'File' + ' ' + z + '.csv'
    globals()['table%s' % z] = pd.read_csv("/Users/ayushnpatel/Desktop/cd-proj/ifct-composition-assets-renamed/%s" %file_name)

In [3]:
for i in range(1,5):
    z = str(i)
    globals()['table%s_merged' % z] = globals()['table%s' % z]

In [4]:
table5_merged = pd.merge(table5,table6)
table6_merged = table7
#table7_list = [table8,table9,table10,table11,table12,table13,table14]
#table7_merged = pd.concat(table7_list)
for i in range(8,10):
    z = str(i)
    table7_merged = pd.merge(globals()['table%s' % z],globals()['table%s' % str(i+1)],on='code',how='outer')

In [5]:
table7

,code,name,regn,cho,starch,frus,glus,sucs,mals,fsugar,lactose
0,A001,"Amaranth seed, black (Amaranthus cruentus)",1,56.71,55.83,0.1,0.22,0.46,0.1,0.88,NaN
1,A002,"Amaranth seed, pale brown (Amaranthus cruentus)",6,60.13±1.30,59.33±1.31,0.10±0.01,0.22±0.04,0.48±0.04,NaN,0.80±0.07,NaN
2,A003,Bajra (Pennisetum typhoideum),6,56.02±2.57,55.21±2.57,0.21±0.01,0.60±0.02,NaN,NaN,0.81±0.01,NaN
3,A004,Barley (Hordeum vulgare),6,72.73±2.93,72.67±2.92,NaN,0.06±0.02,NaN,NaN,0.06±0.02,NaN
4,A005,Jowar (Sorghum vulgare),6,60.96±1.70,59.70±1.70,0.57±0.07,0.10±0.01,0.60±0.04,NaN,1.27±0.05,NaN
...,...,...,...,...,...,...,...,...,...,...,...
309,K002,Coconut Water,6,3.06±0.07,NaN,3.06±0.07,NaN,NaN,NaN,3.06±0.07,NaN
310,L001,"Milk, whole, Buffalo",6,5.48±0.19,NaN,0.24±0.05,0.39±0.04,0.59±0.06,NaN,5.34±0.16,4.12±0.14
311,L002,"Milk, whole, Cow",6,4.94±0.18,NaN,0.20±0.04,0.18±0.04,0.24±0.03,NaN,4.89±0.14,4.28±0.10
312,L003,Paneer,6,12.01±0.08,NaN,0.50±0.03,1.11±0.24,0.84±0.08,NaN,11.57±0.28,9.12±0.20
313,L004,Khoa,6,16.33±3.84,NaN,0.80±0.04,1.57±0.34,0.91±0.04,NaN,16.14±1.11,12.86±1.03

In [6]:
#ignoring table 7 and onwards as they contain info that is not relevant on the macro scale

In [7]:
table7_merged

,code,name_x,regn_x,f20d1n9f,f22d1n9,f24d1c,f18d2cn6,f20d2,f18d3n3,f20d4n6,...,regn_y,f11d0,f12d0,f14d0,f15d0,f16d0,f18d0,f20d0,f22d0,f24d0
0,A001,"Amaranth seed, black (Amaranthus cruentus)",1.0,12.62,NaN,NaN,2259,NaN,20.91,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A002,"Amaranth seed, pale brown (Amaranthus cruentus)",6.0,12.71±1.56,NaN,NaN,2223±129,NaN,43.03±2.70,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A003,Bajra (Pennisetum typhoideum),6.0,NaN,NaN,NaN,1844±56.7,NaN,140±5.8,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A004,Barley (Hordeum vulgare),6.0,NaN,NaN,NaN,549±21.6,NaN,26.32±3.35,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A005,Jowar (Sorghum vulgare),6.0,NaN,NaN,NaN,508±18.3,NaN,16.54±1.31,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
406,O059,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,80.96,NaN,827,121,NaN,NaN,NaN
407,O060,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,59.34,NaN,754,97,NaN,NaN,NaN
408,O061,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,282,NaN,2634,227,NaN,NaN,NaN
409,O062,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,180,NaN,1606,121,NaN,NaN,NaN
410,O063,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,163,NaN,1295,117,NaN,NaN,NaN

In [8]:
table_dict = {'table1_merged':'proximate principles and dietary fibre','table2_merged':'water soluble vitamins','table3_merged':'fat soluble vitamins','table4_merged':'carotenoids','table5_merged':'minerals and trace elements','table6_merged':'starch and individual sugars'}

In [9]:
for i in range(1,6):
    z = str(i)
    table_merged_master = pd.merge(globals()['table%s_merged' % z],globals()['table%s_merged' % str(i+1)],on='code',how='outer')

In [10]:
table_merged_master

,code,name_x,regn_x,al,as,cd,ca,cr,co,cu,...,name_y,regn_y,cho,starch,frus,glus,sucs,mals,fsugar,lactose
0,A001,"Amaranth seed, black (Amaranthus cruentus)",1.0,3.32,NaN,NaN,181,1.227,0.059,0.81,...,"Amaranth seed, black (Amaranthus cruentus)",1.0,56.71,55.83,0.1,0.22,0.46,0.1,0.88,NaN
1,A002,"Amaranth seed, pale brown (Amaranthus cruentus)",6.0,2.73±0.47,NaN,0.001±0.000,162±15.7,0.092±0.045,0.021±0.005,0.56±0.09,...,"Amaranth seed, pale brown (Amaranthus cruentus)",6.0,60.13±1.30,59.33±1.31,0.10±0.01,0.22±0.04,0.48±0.04,NaN,0.80±0.07,NaN
2,A003,Bajra (Pennisetum typhoideum),6.0,2.21±0.78,0.97±0.24,0.003±0.001,27.35±2.16,0.025±0.006,0.030±0.015,0.54±0.11,...,Bajra (Pennisetum typhoideum),6.0,56.02±2.57,55.21±2.57,0.21±0.01,0.60±0.02,NaN,NaN,0.81±0.01,NaN
3,A004,Barley (Hordeum vulgare),6.0,NaN,NaN,NaN,28.64±3.49,0.029±0.009,0.027±0.010,0.43±0.17,...,Barley (Hordeum vulgare),6.0,72.73±2.93,72.67±2.92,NaN,0.06±0.02,NaN,NaN,0.06±0.02,NaN
4,A005,Jowar (Sorghum vulgare),6.0,2.56±0.59,1.53±0.04,0.002±0.002,27.60±3.71,0.010±0.003,0.012±0.007,0.45±0.11,...,Jowar (Sorghum vulgare),6.0,60.96±1.70,59.70±1.70,0.57±0.07,0.10±0.01,0.60±0.04,NaN,1.27±0.05,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
525,E063,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Strawberry (Fragaria ananassa),6.0,3.66±0.11,0.10±0.01,1.90±0.05,1.60±0.14,0.07±0.03,NaN,3.56±0.11,NaN
526,F001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Beet root (Beta vulgaris),6.0,6.04±0.94,1.69±0.43,1.67±0.02,1.46±0.02,1.21±0.03,NaN,4.35±0.02,NaN
527,J001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Button mushroom, fresh (Agaricus sp.)",1.0,0.8,0.7,0.1,NaN,NaN,NaN,0.1,NaN
528,K001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Toddy,10.0,5.73±0.17,NaN,5.73±0.17,NaN,NaN,NaN,5.73±0.17,NaN
529,L001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Milk, whole, Buffalo",6.0,5.48±0.19,NaN,0.24±0.05,0.39±0.04,0.59±0.06,NaN,5.34±0.16,4.12±0.14